.job-details {
  padding-top: rem(93);
  padding-bottom: rem(62);
  margin-right: rem(16);
  border-radius: 0px 40px 40px 0px;
  background: $color-transparent
    linear-gradient(21deg, $color-blue-1 0%, $color-blue-2 71%, $color-blue-3 95%, $color-blue-4 100%) 0% 0% no-repeat
    padding-box;
  color: $color-white;

  .list {
    padding-top: rem(16);
  }
  .description {
    padding-top: rem(30);
    margin-bottom: rem(16);
  }
}

@media screen and (min-width: $lg) {
  .job-details {
    background: $color-transparent
      linear-gradient(26deg, $color-blue-1 0%, $color-blue-2 62%, $color-blue-3 89%, $color-blue-4 100%) 0% 0% no-repeat
      padding-box;
    margin-right: rem(18);
    &__row {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-gap: rem(54);
      gap: rem(54);
    }

    .description {
      @include font(rem(24), rem(31));
    }
    .list--inline {
      justify-content: space-between;
    }
  }
}
