.job-details {
  padding-top: rem(93);
  padding-bottom: rem(62);
  margin-right: rem(16);
  border-radius: 0px 40px 40px 0px;
  background: $color-transparent
    linear-gradient(21deg, $color-blue-1 0%, $color-blue-2 71%, $color-blue-3 95%, $color-blue-4 100%) 0% 0% no-repeat
    padding-box;
  color: $color-white;

  .list {
    padding-top: rem(16);
  }
  .description {
    padding-top: rem(30);
    margin-bottom: rem(16);
  }
}

@media screen and (min-width: $lg) {
  .job-details {
    &__row {
      display: flex;
      gap: rem(54);
    }
    &__column {
      flex: 1;
    }

    .description {
      @include font(rem(24), rem(31));
    }
    .list--inline {
      justify-content: space-between;
    }
  }
}
