.job-resume-item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 3fr;
  grid-gap: rem(15);
  gap: rem(15);
  &__key {
    @include font(rem(16), rem(24), $font-family: $font-family-quartenary, $font-weight: bold);
  }
  &__value {
    @include font(rem(16), rem(24), $font-family: $font-family-quartenary);
  }
}

@media screen and (min-width: $lg) {
  .job-resume-item {
    grid-template-columns: 2fr 5fr;
    &__value {
      @include font(rem(16), rem(24), $font-family: $font-family-quartenary);
    }
  }
}
