// Colors
$color-white: #fff;
$color-black: #000;

$color-dark: #20201f;
$color-transparent: rgba($color-white, 0);

$color-blue-1: #0e3ed9;
$color-blue-2: #1555d4;
$color-blue-3: #2ca7c3;
$color-blue-4: #30b4c0;
$color-blue-5: #e0f4f6;

// fonts
$font-family-primary: "Barlow Condensed", sans-serif;
$font-family-secondary: "Cocogoose Narrow Trial", sans-serif;
$font-family-tertiary: "Barlow", sans-serif;
$font-family-quartenary: "Roboto", sans-serif;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
