.share {
  display: grid;
  grid-auto-flow: column;
  grid-gap: rem(20);
  gap: rem(20);
  align-items: center;
  padding-top: rem(45);
  width: fit-content;
  &__title {
    @include font(rem(20), rem(24));
  }
  &__item {
    @include font(rem(20), rem(24));
  }
  .list {
    padding-top: 0 !important;
  }
}
